h1, h2 {
    text-transform: uppercase;
}

.color {
      color: blue;
}

.size {
    font-size: 50px;
    position: absolute;
    right: 50px;

}

.font {
    font-family: Arial, sans-serif;
    position: fixed;
    right: 50px;
    bottom:0px;
}

.case {
    text-transform:uppercase;
    position: relative;
    left: 100px;
    bottom: 200px;
}

.size, .font {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
    margin: 10% 10% 10% 10%;
    border: 1px black dotted;
    padding: 5% 5% 5% 5%;
    content:normal;
    background-color: aqua;
}

#Head {
border: 2px blue solid; 

}

#purple {
    margin: 0px; 
    border: purple dotted;
    background-color: yellowgreen;
}

body {
    background-color: beige;
}